extends layout

block content
  h1= title
  p Welcome to #{title}
  p Welcome to #{title}p Welcome to #{title}
  p Welcome to #{title}
  p Welcome to #{title}p Welcome to #{title}
  a sss
  tab a
      span s   
  a    yy


 -var classes = ['btn', 'btn-default', 'btn-lg']
 -var classes2 = ['glyphicon', 'glyphicon-star']
 span(class=classes2) Star
 span s

